/*
 * Empty Stylesheet file.
 */
#title{
     -fx-font-family: "Bebas Neue";
     -fx-font-size : 70px;
}

#pizza_title, #toppings_title, #drinks_title, #dippings_title, #receipt_title{
   -fx-font-family: "Acme";
}

.checkBox, .RadioButton{
    -fx-font-family: "OpenSans";
}

#receipt{
    -fx-font-family: "Abel";
    -fx-font-size : 21px;
}


.root{
    -fx-background-image: url("../resources/white-background.jpg");
    -fx-background-color: transparent;
    -fx-opacity: 0.95;
    -fx-background-size: cover;
}

#sign-in{
    -fx-background-color: rgba(74, 148, 53, 0.8); 
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-font-size: 18;
}
#sign-in:hover{
    -fx-background-color: #7cd164; 
    -fx-background-color: rgba(74, 148, 33, 0.9); 

}

#user-title, #pass-title{
    -fx-text-fill: whitesmoke;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}


#sign-up{
    -fx-text-fill:#cacbe0;
    -fx-font-size: 18;
}

#sign-up:hover{
    -fx-text-fill: #dfdfe8;
}

#main-VBox{
    -fx-background-color: rgba(38, 38, 37, 0.5); 
    -fx-background-radius: 6;

}

#login-title{
     -fx-font-size: 40; 
}

 .dialog-pane{
  -fx-background-image: url("../resources/alert.jpg");
   -fx-background-size: cover; 
 }

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-image: url("../resources/alert.jpg");
   -fx-background-size: cover;
}

.dialog-pane > .content.label {
   -fx-padding: 0.7em 0.7em 0.7em 0.7em;
   -fx-background-image: url("../resources/alert.jpg");
   -fx-background-size: cover;
   -fx-text-fill:black;
   -fx-font-size:17.0px;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-image: url("../resources/alert.jpg");
   -fx-background-size: cover;
}

.dialog-pane:header .header-panel .label{
  -fx-background-image: url("../resources/alert.jpg");
   -fx-background-size: cover; 
  -fx-text-fill:black;
  -fx-font-size:30.0px;
}


/**Costumization of Buttons**/
.dialog-pane .button{
    -fx-background-color: rgba(74, 148, 53, 0.8); 
   -fx-text-fill:white;
   -fx-wrap-text: true; 
   -fx-cursor:hand;
 }

.dialog-pane .button:hover{     
  -fx-background-color: rgba(74, 148, 53, 0.9);  
 }
